name: Main

on: [push, pull_request]

jobs:
  main:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python: ['3.8.5', '3.9']

    steps:
      - name: Project checkout
        uses: actions/checkout@v2.3.3

      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: ${{ matrix.python }}

      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.3

      - name: Install dependencies
        run: make setup

      - name: Check codestyle
        run: make inspect

      - name: Run tests
        run: make test

      - name: Build Package
        run: make build

      - name: Upload test reports to Codecov
        uses: codecov/codecov-action@v1.0.13
