name: Main

on: push

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Project checkout
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v2.1.2
        with:
          python-version: '3.8.x'

      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.3

      - name: Install dependencies
        run: make setup

      - name: Check codestyle
        run: make inspect

      - name: Run tests
        run: make test

      - name: Upload test reports to Codecov
        uses: codecov/codecov-action@v1.0.12
